.top-sellers {
    padding: 80px 10%;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.filter-tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.tab {
    padding: 12px 35px;
    border-radius: 30px;
    border: none;
    background: transparent;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.tab.active {
    background: #1eb980;
    color: #fff;
}

.products-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
    flex-wrap: wrap;
}

.card {
    width: 320px;
    padding: 25px;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.badge {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

.badge.green {
    background: #1eb980;
}

.badge.purple {
    background: #8e66c6;
}


.img-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.p-img {
    max-height: 100%;
    object-fit: contain;
}

.info {
    background: #fff;
    padding: 25px 20px;
    border-radius: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.stars {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 10px;
}

.stars small {
    margin-left: 8px;
    color: #999;
}

.price {
    font-size: 24px;
    font-weight: 800;
    margin: 0;
}

.add-btn {
    width: 100%;
    padding: 18px;
    background: #1eb980;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.next-btn {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

@media (max-width: 1200px) {
    .next-btn {
        display: none;
    }
}