.main {
    width: 100%;
    height: 591px;
    background-color: #845EC2;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    top: 113px;
    color: white;
}

.btns{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.wrapper_text h1{
    font-size: 44px;
    font-weight: 600;
}


.wrapper_text p{
    font-size: 21px;
    font-weight: 500;
    margin-top: 15px;
}

.wrapper_text .btns button{
    padding: 22px 70px;
    border: none;
    border-radius: 10px;
    background-color: #10B981;
    box-shadow: 0px 25px 50px 0px #FFFFFF1A;

}

.middle{
    position: relative;
    bottom: 50px;
}

.right{
    position: relative;
    right: 20px;
}

.left{
    position: relative;
    left: 20px;
}

.price{
    margin-left: 250px;
}