* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

.page {
    padding: 40px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 30px;
    margin-bottom: 40px;
}

.tab {
    font-weight: 600;
    cursor: pointer;
}

.tab.active {
    background: #16b36a;
    color: #fff;
    padding: 12px 24px;
    border-radius: 999px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 280px;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 160px;
    margin: 20px 0;
}

.mint {
    background: #eafff4;
}

.blue {
    background: #dff6ff;
}

.purple {
    background: #efe5ff;
}

.badge {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    padding: 10px 14px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 600;
}

.green {
    background: #16b36a;
}

.violet {
    background: #7b5cd6;
}

.info {
    background: #fff;
    width: 100%;
    padding: 16px;
    border-radius: 14px;
    text-align: left;
}

.info h3 {
    margin: 0 0 6px;
    font-size: 16px;
}

.rating {
    color: #f44336;
    font-size: 14px;
}

.rating span {
    color: #999;
    font-size: 12px;
    margin-left: 6px;
}

.price1 {
    font-weight: 700;
    margin-top: 8px;
    /* position: relative;
    right: 250px; */
    display: flex;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    background: #16b36a;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}